body{
    /* background-image: linear-gradient(to right top, #b7e7ff, #95d9fe, #73caff, #4bbaff, #00aaff); */
    font-family: 'Open Sans', sans-serif;
    background-color: #eee;
}

h1,h2,h3,h4,p{
    padding: 0;
    margin: 0;
}

.wrapper{
    max-width: 1200px;
    min-height: 100vh;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
}

section.profileImgheader{
    width: 100%;
    height: 200px;
    background-color: black;
    box-sizing: border-box;
    display: flex;
    justify-content:flex-start;
    border-radius: 3px 3px 0 0;
    background-image: url("img/headerIMG.JPEG");
    background-position:0 450px;
    background-size: cover;
    box-shadow: 0 0 5rem rgb(0, 0, 0, 0.2);

}

div.circular{
    display: flex;
    position:relative;
    justify-content: center;
    width: 200px;
    height: 200px;
    top: 110px;
    overflow: hidden;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    border-width: 6px;
    margin-left: 3rem;
}

img.profileImg{
    width: auto;
    height: auto;
    transform: scale(2);
    margin-top: 50px;
    margin-right: 10px;
}

section.profileImgBody{
    width: 100%;
    min-height: 300px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 0 0 3px 3px;
    padding-top: 8rem;
    display: flex;
    flex-direction:  column;
    align-items: flex-start;
    box-shadow: 0 0 5rem rgb(0, 0, 0, 0.2);
}
section.profileImgBody h2{
    margin-bottom: 0.5rem;
}

section.profileImgBody h2,h3{
    margin-left: 3rem;
}

section.pLanguages{
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
    height: 70px;
    gap: 1rem;
    box-sizing: border-box;
    /* background-color: red; */
    justify-content: flex-start;
    margin-left: 3rem;
}

img.pLangImg{
    height: 100%;

}

article.info{
    margin-top: 3rem;
    padding: 3rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    min-height: 200px;
    background-color: white;
    box-shadow: 0 0 5rem rgb(0, 0, 0, 0.2);
}

section.buttons{
    display: flex;
    width: 50%;
    height: 50px;
    justify-content: space-evenly;
    margin-top: 3rem;
    margin-bottom: 3rem;
    gap: 2rem;
}

.btn{
    border-style: none;
    width: 30%;
    font-size: 1.2rem;
    background-color:  #00a8fb;
    color: white;
    border-radius: 10px;
    transition: all 0.5s ease;
}

.btn:hover{
    transform: scale(1.2);
}
